:root {
    --global-font-size: 1.1rem;
    --global-line-height: 1.5em;
    --global-space: 5px;
    --page-width: 55rem;
    --font-stack: Montserrat, monospace, serif;
    --mono-font-stack: Montserrat, monospace, serif;
    --input-style: solid;
    --display-h1-decoration: none;
}

:root.dark {
    --background-color: #111112;
    --font-color: #ffffff;
    --invert-font-color: #222225;
    --secondary-color: #a3abba;
    --tertiary-color: #a3abba;
    --primary-color: #854db0;
    --error-color: #ff3c3c;
    --progress-bar-background: #211a21;
    --progress-bar-fill: #854db0;
    --code-bg-color: #3f3f44;
}

:root.light {
    --background-color: #111112;
    --font-color: #ffffff;
    --invert-font-color: #222225;
    --secondary-color: #a3abba;
    --tertiary-color: #a3abba;
    --primary-color: #854db0;
    --error-color: #ff3c3c;
    --progress-bar-background: #211a21;
    --progress-bar-fill: #854db0;
    --code-bg-color: #3f3f44;
}

* {
    font-weight: 600;
    animation: fadeIn 1s ease-out;
}

table {
    transition: color 300ms ease-in-out;
}

th {
    text-align: left;
}

table td {
    padding-left: 1rem;
}

td {
    max-width: 25rem;
    overflow: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
}

body {
    animation: none;
    margin-top: 50px;
}

table th {
    padding-left: 1rem;
}

table tbody td:first-child {
    font-weight: normal;
    color: unset;
}

.selected {
    background-color: var(--primary-color);
    color: var(--invert-font-color);
}

button {
    /*cursor: pointer;*/
    color: var(--font-color);
    transition: all 300ms ease-in-out;
}

button:hover {
    color: var(--primary-color);
    cursor: pointer;
}

button:disabled {
    cursor: unset;
    color: var(--tertiary-color);
}

@media only screen and (min-width: 120em) {
}

@keyframes fadeIn {
    0% {
        margin-top: 50px;
        filter: blur(5px);
        opacity: 0;
    }
}
